<div class="m-5 p-5">
    <h1>Home</h1>
    <p>Navigate to:</p>
    <br><br><br>
    <ul>
        <li><a href="/about" data-test-id="about">About us</a></li>
        <li><a href="/about/services">About our services</a></li>
        <li><a href="/headers">Headers page</a></li>
        <li><a href="/weather">Weather Page</a></li>
        <li><a href="/newsletter-signup">Sign up to our newsletter (server-sided)</a></li>
        <li><a href="/newsletter-signup-fetch">Sign up to our newsletter (client-sided fetch)</a></li>
        <li><a href="/contest/vacation-photo">Upload submission to vacation photo contest</a></li>
        <li><a href="/contest/vacation-photo-fetch">Upload submission to vacation photo contest (using fetch)</a></li>
        <li><a href="/custom">Custom testing page</a></li>
    </ul>
</div>