<div clas="p-5 m-5 w-20 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    <div class="p-5 m-5" id="formcontainer">
        <h2>Enter your E-mail Address</h2>
        <form class="form-horizontal" role="form" id="notifyVacationForm">
            <input class="form-control" type="hidden" name="sku" value="{{sku}}">
            <div class="form-floating mb-3">
                <input class="form-control" type="email" name="email" required id="notifyEmail"
                    placeholder="id@example.com">
                <label for="notifyEmail">E-mail</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{{#section "scripts"}}
<script>
    document.getElementById('notifyVacationForm').addEventListener('submit', evt =>
    {
        evt.preventDefault();
        const form = evt.target;
        const headers = { 'Content-Type': 'application/json' };
        const body = JSON.stringify(
            {
                email: form.elements.email.value,
                sku: form.elements.sku.value
            }
        );

        const container = document.getElementById('formcontainer');
        fetch('/notify-vacation-season-process', { method: 'post', body, headers })
            .then(res =>
            {
                if (res.status < 200 || res.status >= 300) throw new Error(`Notify vacations fetch Request failed with status: ${res.status}`);
                return res.json();
            })
            .then(json =>
            {
                container.innerHTML = '<b>Server returned: </b> ' + json.result + '<br><b>Thank you for signing up!</b>';
            })
            .catch(err =>
            {
                container.innerHTML = '<b>Form submission failed: ' + err.message + '<br> <a href="/notify-vacation-season">please try again</a>';
            });
    });
</script>

{{/section}}