<div class="p-5 m-5 w-20 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    <div class="p-5 m-5" id="formcontainer">
        <h2>Sign up for our newsletter</h2>
        <form class="form-horizontal" role="form" id="newsletterform" enctype="multipart/form-data" method="post" action="/contest/vacation-photo/{{year}}/{{month}}">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="fieldName" name="name" placeholder="Name">
                <label for="fieldName">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="fieldEmail" name="email" placeholder="id@example.com"
                    required>
                <label for="fieldEmail">Email</label>
            </div>
            <div class="m-3">
                <label for="formFile" class="form-label">Upload your vacation photo</label>
                <input class="form-control" type="file" id="fieldphoto" name="photo" accept="image/*" required>
            </div>
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>